<div id="maincontainer">
  <div id="topsection_wrapper">
    <div id="topsection">
        <div id="topsection_top_row">
        
			<!--table>
				<tr>
					<td--><h3>
					Magnetic Echos
					</h3><!--/td>
				</tr>
			</table-->
          
        </div>
    </div>
  </div>
  <div id="contentwrapper">

	<table cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td valign="top" width="50%">
				
				$insert.control("group1")
	
			</td>
		</tr>
	</table>
			
</div>
