<div id="maincontainer">
  <!--div id="contentwrapper"-->

	<table cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td valign="top" width="50%">
				
				$insert.control("group1")
	
			</td>
		</tr>
	</table>
			
</div>
