<br/>
	<h4>AudioController vtl file</h4><br/>
	<div id="wrapper">
		<audio preload="auto" controls>
			<source src="http://localhost:8080/01-amp3s/1977-am13-Kay-Fletcher-Never-Quite-1o2.mp3">
		</audio>
		<script src="$contextPath/audio2/audioplayer.js"></script>
		<script>$( function() { $( 'audio' ).audioPlayer(); } );</script>
	</div>
<br/>