	<h4>$control.title</h4>
	<div id="wrapper">
		<video preload="auto" controls>
			<source src="$control.audio">
		</audio>
		<!--script src="$contextPath/audio2/audioplayer.js"></script-->
		<br/>
		<br/>
	</div>
